.container-inputs {
    display: flex;
    flex-direction: column;
}

.primary-btn {
    height: 47px;
    margin-bottom: 0;
}

@media (max-width: 640px) {
    .title {
        text-align: left;
        margin-bottom: 30px;
    }
    .from {
        justify-content: space-between;
        height: 75vh;
    }
}