.container-inputs {
    display: flex;
    flex-direction: column;
}

.text-value {
    margin-bottom: 8px 0 32px 0px;
    font-weight: bold;
    font-size: var(--md);
    color: var(--adhara-blue-sky);
}

.primary-btn {
    height: 47px;
    margin-bottom: 0;
}

@media (max-width: 640px) {
    .title {
        text-align: left;
        margin-bottom: 30px;
    }
    .from {
        justify-content: space-between;
        height: 75vh;
    }
}