.login-container {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

.from-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.from {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}